html,
body {
  font-weight: 400;
}

header {
  display: block;
}

article > aside .menu .dd-item > ul {
  border-left: 1px dashed #d4d8de;
  border-bottom: 1px dashed #d4d8de;
  padding-left: 15px;
}

.contentWidth {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

article {
  width: 100vw;
}
article > aside {
  left: auto;
}
article section {
  padding: 2rem 3.5rem;
}

article section.page {
  padding: 3rem 7rem 3rem 7rem;
}

img {
  max-height: 500px;
}

div.featherlight img {
  max-height: 900px;
}

section a {
  color: #2196c9;
  font-weight: 500;
}

section ul {
  list-style-type: none;
}
section ul > li {
  align-items: center;
  margin-bottom: 1rem;
}

section ul > li:before {
  content: " ";
  background: #2196c9;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-right: 1rem;
  margin-top: -3px;
  display: inline-block;
}

section li p {
  display: inline;
}

section ul ol,
section ul ul {
  padding: 0 2rem;
}

article section.page {
  color: #707070;
}

article section.page h1,
article section.page h2,
article section.page h3,
article section.page h4,
article section.page h5,
article section.page strong {
  color: #35393b;
}

article section.page h2 {
  margin-top: 3rem;
}

article section.page h3 {
  font-size: 1.5rem;
  font-variant-caps: small-caps;
  margin-top: 1rem;
  line-height: 1.2;
}

/** FLEEEEXXXX **/

@media (max-width: 768px) {
  header {
    height: 7rem;
  }
  header .logo {
    width: 100%;
    flex: none;
  }
  header nav.shortcuts {
    flex: none;
    align-items: baseline;
  }

  header .searchbox {
    padding-left: 0;
    width: 40vw;
  }

  header nav.shortcuts li {
    margin-right: 1rem;
  }
  header nav.shortcuts li a {
    color: transparent;
  }
  header .fa-github {
    color: white;
  }

  #version-selection-label {
    display: none;
  }

  article > section.page {
    margin: 0 0;
    padding: 1rem;
  }

  article {
    margin-top: 7rem;
  }
}
