header .logo img {
  width: 170px;
  height: 40px;
}


header nav.shortcuts {
  align-items: center;
}

header .searchbox {
  padding-top: .8rem;
}
header label {
  margin-bottom: 0;
}

header select {
  margin-bottom: 0;
  margin-left: .25rem;
  outline: none;
  border: 1px solid #D4D8DE;
  background: white;
  color: #8693A5;
  outline: none;
  min-width: 100px;
  height: 32px;
  border-radius: 4px;
}