.searchbox input {
  border: 1px solid #D4D8DE;
  background: white;
  color: #8693A5;
  border-radius: 4px;
}

.searchbox input::placeholder {
  color: #8693A5;
}



.fa.fa-link {
  color: #2196C9;
  background: white;
  line-height: 2rem;
}

.fa.fa-clipboard,
.fa.fa-clone {
  color: #158BC2;
  text-align: center;
  border: 1px solid #158BC2;
  border-radius: 2px;
  min-width: 75px;
  padding: 0 .75rem;
  line-height: 2.25rem;
}

.fa.fa-clipboard,
.fa.fa-clone {
  display: flex;
}
.fa.fa-clipboard:after,
.fa.fa-clone:after {
  font-size: 0.94rem;
  content: "copy";
  font-family: "Proxima Nova", "Work Sans", "Helvetica", "Tahoma", "Geneva",
  "Arial", sans-serif;
  font-weight: 500;
  margin-left: .5rem;
  text-transform: uppercase;
}