article section {
  padding: 2rem 3.5rem;
}

article > aside {
  width: 23rem;
  border: 1px solid #F0F1F2;
  border-top: 0;
  background-color: #F8FAFB;
  box-shadow: 0px 2px 8px #253E580B;
  padding-top: 0;
}

article > aside .menu {
  margin: 0;
}

article > aside .menu #topic-logo {
  margin-top: 41px;
  padding-bottom: 28px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #DBE4EC;
}

article > aside .menu #topic-logo img {
  max-width: 281px;
  max-height: 200px;
  width: auto;
  height: auto;
}

/* ITEMS */
article > aside .menu .dd-item {
  color: #253E58;
  margin: 11px 0 11px 2rem;
}
article > aside .menu .dd-item.haschildren {
  margin-right: 1rem;
}
article > aside .menu .dd-item > div,
article > aside .menu .dd-item ul li.dd-item > div {
  border-left: 5px solid transparent;
}
article > aside .menu .dd-item > div > a,
article > aside .menu .dd-item ul li.dd-item > div > a {
  padding-left: 5px;
}
article > aside .menu .dd-item > div > a:hover,
article > aside .menu .dd-item ul li.dd-item > div > a:hover {
  padding-left: 5px;
}

article > aside .menu > .dd-item {
  margin-top: 17px;
}

article > aside .menu .dd-item div a {
  order: 1;
}
article > aside .menu .dd-item div i.category-icon {
  order: 2;
}
article > aside .menu .dd-item > ul {
  border: none;
  margin-left: 0;
}
article > aside .menu .dd-item > ul li {
  border-left: none;
  padding-left: 0;
}

article > aside .menu .dd-item.haschildren ul li {
  padding-left: 0;
  margin-left: 16px;
}
article > aside .menu .dd-item.haschildren ul li.haschildren {
  margin-right: 0;
}
article > aside .menu .dd-item.haschildren ul li.dd-item > div {
  padding-left: 0;
}
article > aside .menu .dd-item.haschildren ul li.dd-item > div a {
  padding-left: 0.5rem;
}

/* OPENED + ACTIVE */
article > aside .menu .dd-item.active > div,
article > aside .menu .dd-item ul li.dd-item.active > div {
  border-left-color: #6ac7f0;
}

article > aside .menu .dd-item.parent div,
article > aside .menu .dd-item.parent > div * {
  color: #6e7477;
}
article > aside .menu .dd-item.active > div {
  background: transparent;
}
article > aside .menu .dd-item.active > div * {
  color: #35393b;
}
article > aside .menu .dd-item.parent.active > div * {
  color: #222;
}
article > aside .menu .dd-item.parent > div > *,
article > aside .menu .dd-item.active > div > * {
  font-weight: 500;
}

article > aside .menu .dd-item.active > div * {
  border-bottom: none;
}

@media (max-width: 1024px) {
  article > aside .menu #topic-logo {
    margin-top: 25px;
    padding-bottom: 9px;
  }
  article > aside .menu #topic-logo img {
    max-height: 125px;
  }
  article > aside .menu .dd-item {
    margin: 4px 0 4px 2rem;
  }
  article > aside .menu > .dd-item {
    margin-top: 0;
  }
}
