<script src="{{ .Site.Data.Solo.DocsVersion }}{{"js/clipboard.min.js" | relURL}}"></script>

<link href="{{ .Site.Data.Solo.DocsVersion }}{{"css/syntax.css" | relURL}}" rel="stylesheet">

<link href="{{ .Site.Data.Solo.DocsVersion }}{{"css/featherlight.min.css" | relURL}}" rel="stylesheet">
<script src="{{ .Site.Data.Solo.DocsVersion }}{{"js/featherlight.min.js" | relURL}}"></script>

<script src="{{ .Site.Data.Solo.DocsVersion }}{{"js/jquery-2.x.min.js" | relURL}}"></script>
<script type="text/javascript">
    {{if .Site.IsMultiLingual}}
        var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
    {{else}}
        var baseurl = "{{.Site.BaseURL}}";
    {{end}}
</script>
{{if eq .Site.Params.highlightClientSide true}}
<script src="{{ .Site.Data.Solo.DocsVersion }}{{"js/highlight.pack.js" | relURL}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{end}}
<script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
<script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
<script src="{{ .Site.Data.Solo.DocsVersion }}{{(printf "theme-%s/script.js" (.Site.Params.themeStyle| default "flex")) | relURL}}"></script>
