<h3>Changelog</h3>
<div style="display:flex;">
<select name="type" id="select-type">
    <option value="minorrelease">By Release</option>
    <option value="chronological">By Chronological Order</option>
    <option value="compareversions">Compare Versions</option>
</select>
{{ if eq (.Get "enterprise") "true" }}
<input type="checkbox" name="showOpenSource" id="showOpenSource" style="margin-top: 0.5%;margin-left: 5%;" checked>
<label for="showOpenSource">Show Open Source Notes</label>
{{ end }}
</div>


<div id="changelogdiv"></div>
<script>const changelogPath = '{{ (.Get "changelogJsonPath" )}}'</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw==" crossorigin="anonymous"></script>
<script async src="{{ .Site.Data.Solo.DocsVersion }}{{"/changelog/render_changelog.js"|relURL}}"></script>
