<style>
    <!--
        .categoryBox {
            flex-grow: 1 !important;
            width: calc(33% - 20px) !important;
            text-decoration: none !important;
            margin: 0 10px 20px 0 !important;
            padding: 8px !important;
            border: 1px #158bc2 solid !important;
            border-radius: 25px !important;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) !important;
            text-align: center !important;
            text-overflow: ellipsis !important;
            overflow: hidden !important;
        }
        .tileContainer {}
        .tileContainer a {
            text-decoration: none !important;
            border: none !important;
        }
        .tile {
            display: inline-block !important;
            width: 100% !important;
            margin: 0 10px 20px 0 !important;
            padding: 8px !important;
            background-color: #f9f9f9 !important;
            border-radius: 25px !important;
        }
        @media screen and (min-width: 960px) {
            .tile {
            width: calc(50% - 3%) !important;
            }
            .tile.tileFeatured {
            width: calc(50% - 3%) !important;
            }
            .tileContent {
            height: 350px !important;
            }
        }
        @media screen and (min-width: 1298px) {
            .tile {
            width: calc(33% - 2%) !important;
            }
            .tileContent {
            min-height: 350px !important;
            }
        }
        .tile:hover {
            border: 1px rgb(21, 139, 194)solid !important;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) !important;
        }
        .tileContent {
            display: flex !important;
            flex-direction: column !important;
        }
        .tileTitle {
            margin: 0rem !important;
            margin-bottom: 5px !important;
            font-size: 18px !important;
            font-weight: bold !important;
            line-height: 18px !important;
            height: 36px !important;
            text-overflow: ellipsis !important;
            overflow: hidden !important;
            display: -webkit-box !important;
            -webkit-line-clamp: 2 !important;
            -webkit-box-orient: vertical !important;
            -webkit-box-align: inherit !important;
        }
        .tileDescription {
            flex-grow: 1 !important;
            display: flex !important;
            flex-direction: column !important;
        }
        .descriptionContainer {
        }
        .descriptionContainer p {
            margin: 0 !important;
            overflow: hidden !important;
            display: -webkit-box !important;
            -webkit-line-clamp: 4 !important;
            -webkit-box-orient: vertical !important;
            font-size: 14px !important;
            font-weight: 400 !important;
            line-height: 1.5 !important;
            letter-spacing: 0 !important;
            max-height: 70px !important;
        }
        .drawingContainer {
            flex-grow: 1 !important;
            min-width: calc(33% - 2%) !important;
            padding: 0 8px !important;
            text-align: center !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            background-color: #f9f9f9;
        }
        .drawing {
            max-height: 175px !important;
            padding: 8px !important;
            margin: 0 auto !important;
        }
    -->
    </style>